<meta charset="UTF-8">
<title>Cyprus Pharmacy Guide</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<!-- CSS (load Icons from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<style>
  body { padding-top:50px; max-width: 1200px; margin: auto; }
  a, a:hover { color: green; z-index: 100;}
  .fixedWidth120 { display: inline-block; width: 120px; text-align: start; }
</style>