<html>
    <head>
        <%- include('../partials/head'); %>
    </head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <p>
        <% if (req.oidc.isAuthenticated()) { %>
        logged in as <%= req.oidc.user.name%> - <a href="/logout">logout</a>
        <% } else { %>
        <a href="/login">login</a>
        <% } %>
    
    </p>    
        
    </p>

    <h1>Admin</h1>

    <hr/>

    <ul>
        <li>Manage authentication at <a href=https://manage.auth0.com>https://manage.auth0.com/</a></li>
        <li>Launch locally with: <code>heroku local -p 3000</code></li>
    </ul>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>